In [175]:
# Подключаем библиотеки numpy, pandas и math (для числа ПИ)

import numpy as np
import pandas as pd
import math

In [177]:
# Считываем csv файл с GitHub

df_planets = pd.read_csv(r"https://raw.githubusercontent.com/YBI-Foundation/Dataset/refs/heads/main/Planets.csv")
df_planets.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

#### Не могу сказать точно в каких единицах представлены значения в столбцах, но для расчета предположим, что скорее всего orbital_period - в днях, distance - в млн. км. Посчитаем массу звезд для планет, сгруппированных по Методу открытия.
#### Формула для расчета массы звезды: $M=\frac{R^3 4 \pi^2}{T^2 G}$, где R - расстояние от планеты до звезды (в метрах), T - орбитальный период в секундах, G - гравитационная постоянная

In [180]:
def get_mass_stars(df):
    G = 6.6743 * 10**(-11)     # Это гравитационная постоянная
    R = df['distance'] * 10**(9)     # Переводим дистанцию из млн км в метры
    T = df['orbital_period'] * 24 * 60 * 60     # Переводим орбитальный период из дней в секунды
    M = (R**(3) * 4 * math.pi**(2)) / (T**(2) * G)
    return M

In [182]:
(
    df_planets
    .groupby('method')
    .apply(get_mass_stars, include_groups=False)
    .reset_index(drop = False).drop('level_1', axis = 1)
    .rename(columns={0: 'Масса звезды'})
)

                         method  Масса звезды
0                    Astrometry  1.169757e+28
1                    Astrometry  2.580326e+26
2     Eclipse Timing Variations           NaN
3     Eclipse Timing Variations  5.321729e+27
4     Eclipse Timing Variations  1.604778e+28
...                         ...           ...
1030                    Transit  7.941154e+34
1031  Transit Timing Variations  2.944960e+34
1032  Transit Timing Variations  1.523728e+34
1033  Transit Timing Variations           NaN
1034  Transit Timing Variations  6.185556e+33

[1035 rows x 2 columns]