In [1]:
# Подключаем библиотеки numpy и pandas

import numpy as np
import pandas as pd

In [3]:
# Считываем csv файл с GitHub

df_planets = pd.read_csv(r"https://raw.githubusercontent.com/YBI-Foundation/Dataset/refs/heads/main/Planets.csv")
df_planets

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

##### Массив данных представлен в «широком» формате, так как каждая числовая переменная представлена в отдельном столбце

### Перевод из «широкого» формата в «длинный»

In [5]:
# Перевод с помощью функции pd.melt():

df_planets.melt(id_vars = ['year', 'method'], var_name = 'Показатель', value_name = 'Значение')

      year           method Показатель  Значение
0     2006  Radial Velocity     number       1.0
1     2008  Radial Velocity     number       1.0
2     2011  Radial Velocity     number       1.0
3     2007  Radial Velocity     number       1.0
4     2009  Radial Velocity     number       1.0
...    ...              ...        ...       ...
4135  2006          Transit   distance     172.0
4136  2007          Transit   distance     148.0
4137  2007          Transit   distance     174.0
4138  2008          Transit   distance     293.0
4139  2008          Transit   distance     260.0

[4140 rows x 4 columns]

### Использование функции pd.pivot_table() для одной числовой переменной

In [7]:
# Возьмем числовую переменную Орбитальный период

(
    df_planets
    .pivot_table(
        values = 'orbital_period', 
        index = 'year',
        columns = 'method', 
        aggfunc = 'count',
        fill_value = '-'
    )
)

method,Astrometry,Eclipse Timing Variations,Imaging,Microlensing,Orbital Brightness Modulation,Pulsar Timing,Pulsation Timing Variations,Radial Velocity,Transit,Transit Timing Variations
year,,,,,,,,,,
1989,-,-,-,-,-,-,-,1,-,-
1992,-,-,-,-,-,2,-,-,-,-
1994,-,-,-,-,-,1,-,-,-,-
1995,-,-,-,-,-,-,-,1,-,-
1996,-,-,-,-,-,-,-,6,-,-
1997,-,-,-,-,-,-,-,1,-,-
1998,-,-,-,-,-,-,-,5,-,-
1999,-,-,-,-,-,-,-,15,-,-
2000,-,-,-,-,-,-,-,16,-,-
2001,-,-,-,-,-,-,-,12,-,-
2002,-,-,-,-,-,-,-,31,1,-
2003,-,-,-,-,-,1,-,24,-,-
2004,-,-,0,0,-,-,-,17,5,-
2005,-,-,0,2,-,-,-,36,-,-
2006,-,-,1,1,-,-,-,21,5,-
2007,-,-,0,-,-,-,1,35,16,-
2008,-,2,5,2,-,-,-,43,17,-
2009,-,1,3,0,-,-,-,74,18,-
2010,1,2,1,1,-,-,-,43,48,-
2011,-,3,2,1,2,1,-,94,80,1
2012,-,1,0,0,-,-,-,38,92,1
2013,1,-,0,0,1,-,-,29,75,1
2014,-,-,-,-,-,-,-,11,40,0

In [9]:
# Таблицу Метод поиска по годам посчитал для того, чтобы увидеть каким методом ученые пользуются чаще, какие методы эффективнее и какие методы относительно свежие

# Изучив сводную таблицу, можно сделать выводы:
# 1) почти всегда для открытия планет ученые используют метод Радиальной скорости;
# 2) многие методы, кроме Радиальной скорости и Синхронизации с пульсаром начали использовать только в 2000-х года, видимо эти методы относительно недавно открыты;
# 3) В 2007-2008 годах транзитный метод показал свою эффективность и его тоже начали использовать наряду с методом Радиальной скорости;
# 4) После 2011 года Транзитный метод выходит в приорит по эффективности по сравнению с методом Радиальной скорости.

# В основном эту таблицу можно использовать для статистики наиболее эффективных методов поиска.

### Выбирать две другие числовые переменные и использовать цепочку методов .groupby().agg()

In [11]:
# Возьмем 2 числовые переменные mass (Масса) и distance (Дистанция)

(
    df_planets
    .groupby('year')
    .agg(
        {
            'mass': [('Минимум', 'min'), ('Максимум', 'max')],
            'distance' : [('Минимум', 'min'), ('Максимум', 'max')]
        }
    )
)

          mass          distance
       Минимум Максимум  Минимум Максимум
year
1989  11.68000   11.680    40.57    40.57
1992       NaN      NaN      NaN      NaN
1994       NaN      NaN      NaN      NaN
1995   0.47200    0.472    15.36    15.36
1996   0.68760    3.900    12.53    21.41
1997   1.04000    1.040    17.43    17.43
1998   0.52000    8.020     4.70    47.92
1999   0.42000    8.440    10.91    59.03
2000   0.24900   18.100     3.22    80.00
2001   0.54000   10.350    14.08    77.82
2002   0.11500   17.400    12.53   121.36
2003   0.22900   18.370    11.11   133.16
2004   0.08700    3.690    10.23  2500.00
2005   0.00600   14.000     4.70   300.30
2006   0.03300    7.600     8.77  8500.00
2007   0.03500   19.800     4.54  2000.00
2008   0.01260   25.000     4.94   680.00
2009   0.01600   21.420     8.52   550.00
2010   0.01300   13.000     4.70  2700.00
2011   0.00755   13.650     6.06  2250.00
2012   0.00360   11.100     1.35  7720.00
2013   0.00800   20.600     6.80  7560.00
2014   0.34000    2.580    20.48  1056.00

In [13]:
# В 2000-х годах технологии показали резкий скачок, эффективность программного обеспечения и мощность "железа"
# росли огромными шагами. В направлении космических технологий это можно заметить и на своднйо таблице: 
# максимальная дистанция до открытых планет увеличивалась с каждым годом благодаря росту технологий.
# Аналогично можно сказать, посмотрев на минимальную массу. Такие планеты тяжело заметить, также сложно увидеть их след
# и их влияние и влияние на них других небесных тел из-за малой гравитации. Но рост технологий дал возможность обнаруживать
# "нетяжелые" планеты, начиная с 2004 года.