In [1]:
# Подключаем библиотеки numpy, pandas и math (для числа ПИ)

import numpy as np
import pandas as pd
import math

In [2]:
# Считываем csv файл с GitHub

df_planets = pd.read_csv(r"https://raw.githubusercontent.com/YBI-Foundation/Dataset/refs/heads/main/Planets.csv")
df_planets.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [3]:
df_planets

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

### Написать функцию и применить её к сгруппированным данным с помощью .apply()

##### Не могу сказать точно в каких единицах представлены значения в столбцах, но для расчета предположим, что скорее всего orbital_period - в днях, distance - в млн. км. Посчитаем среднюю массу звезд для планет, сгруппированных по Методу открытия.
##### Формула для расчета массы звезды: $M=\frac{R^3 4 \pi^2}{T^2 G}$, где R - расстояние от планеты до звезды (в метрах), T - орбитальный период в секундах, G - гравитационная постоянная

In [4]:
def get_mass_stars(df):
    G = 6.6743 * 10**(-11)     # Это гравитационная постоянная
    R = df['distance'].mean() * 10**(9)     # Берем среднюю дистанцию и переводим дистанцию из млн км в метры
    T = df['orbital_period'].mean() * 24 * 60 * 60     # Берем средний орбитальный период и переводим орбитальный период из дней в секунды
    M = (R**(3) * 4 * math.pi**(2)) / (T**(2) * G)     # Считаем среднюю массу по формуле, измеряется в килограммах
    return M

In [5]:
(
    df_planets
    .groupby('method')     # Группируем строки по столбцу Method
    .apply(get_mass_stars, include_groups=False)
    .reset_index(drop = False)
    .rename(columns={0: 'Средняя масса звезд'})
)

                          method  Средняя масса звезд
0                     Astrometry         1.135947e+27
1      Eclipse Timing Variations         1.100673e+29
2                        Imaging         1.759598e+24
3                   Microlensing         5.669966e+32
4  Orbital Brightness Modulation         2.587644e+38
5                  Pulsar Timing         2.539339e+30
6    Pulsation Timing Variations                  NaN
7                Radial Velocity         1.605857e+28
8                        Transit         3.830055e+34
9      Transit Timing Variations         1.676490e+34

### Написать функцию и применить её к сгрупированным данным с помощью .transform()

### Написать функцию и применить её ко всем данным с помощью .map()

In [6]:
# Сравним дистанцию планет от своих звезд с расстоянием Земли от Солнца (примерно 150 млн.км.)

a_chto_dalshe = lambda x: 'Ближе к своей звезде, чем Земля к Солнцу' if x <= 150 else 'Дальше от своей звезды, чем Земля от Солнца'

In [19]:
# Добавим столбец с аналитикой в исходный датафрэйм

df_planets['dist_analitika'] = (
    df_planets['distance']
    .map(a_chto_dalshe)
    #.reset_index(drop = False)
    #.rename(columns={0: 'Дальше/Ближе'})
    #.drop('level_0', axis = 1)
    #.drop('index', axis = 1)
)
df_planets

,method,number,orbital_period,mass,distance,year,dist_analitika
0,Radial Velocity,1,269.300000,7.10,77.40,2006,"Ближе к своей звезде, чем Земля к Солнцу"
1,Radial Velocity,1,874.774000,2.21,56.95,2008,"Ближе к своей звезде, чем Земля к Солнцу"
2,Radial Velocity,1,763.000000,2.60,19.84,2011,"Ближе к своей звезде, чем Земля к Солнцу"
3,Radial Velocity,1,326.030000,19.40,110.62,2007,"Ближе к своей звезде, чем Земля к Солнцу"
4,Radial Velocity,1,516.220000,10.50,119.47,2009,"Ближе к своей звезде, чем Земля к Солнцу"
...,...,...,...,...,...,...,...
1030,Transit,1,3.941507,NaN,172.00,2006,"Дальше от своей звезды, чем Земля от Солнца"
1031,Transit,1,2.615864,NaN,148.00,2007,"Ближе к своей звезде, чем Земля к Солнцу"
1032,Transit,1,3.191524,NaN,174.00,2007,"Дальше от своей звезды, чем Земля от Солнца"
1033,Transit,1,4.125083,NaN,293.00,2008,"Дальше от своей звезды, чем Земля от Солнца"
1034,Transit,1,4.187757,NaN,260.00,2008,"Дальше от своей звезды, чем Земля от Солнца"

### Сгруппировать данные по дате (если применимо) и использовать resample для агрегирования в более крупный период. Если нет дат то испольовать БД dvdrental для выполнения этого пункта.