## Проанализируем группы клиентов и постараемся ответим на вопрос, какой тип рекламы успешнее. Все выводы об эффективности подтвердим статистическими тестами.

### Загрузка и подготовка данных

In [18]:
# Подключаем библиотеки
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [42]:
# Считываем csv файл с данными

df = pd.read_csv(r"D:\marketing_AB.csv")
df.head()

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
0,0,1069124,ad,False,130,Monday,20
1,1,1119715,ad,False,93,Tuesday,22
2,2,1144181,ad,False,21,Tuesday,18
3,3,1435133,ad,False,355,Tuesday,10
4,4,1015700,ad,False,276,Friday,14

In [71]:
# Создадим новый столбец, в котором укажем какой именно день наибольшего количества рекламы - будни или выходные
df['days'] = np.where((df['most ads day'] == 'Saturday')|(df['most ads day'] == 'Sunday'), 'weekend', 'work days')
df.head()

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour,days
0,0,1069124,ad,False,130,Monday,20,work days
1,1,1119715,ad,False,93,Tuesday,22,work days
2,2,1144181,ad,False,21,Tuesday,18,work days
3,3,1435133,ad,False,355,Tuesday,10,work days
4,4,1015700,ad,False,276,Friday,14,work days

In [78]:
df.shape

(588101, 8)

In [72]:
# Создадим датасет по группе А - те, кто видел базовую рекламу ad
group_a = df[df['test group'] == "ad"]
group_a.shape

(564577, 8)

In [73]:
# Создадим датасет по группе B - те, кто видел социальную рекламу psa
group_b = df[df['test group'] == "psa"]
group_b.shape

(23524, 8)

In [74]:
# Количество людей, которые купили продукт
df[df['converted'] == True].shape

(14843, 8)

In [75]:
# Количество людей из группы А, которые купили продукт
group_a[group_a['converted'] == True].shape

(14423, 8)

In [76]:
# Количество людей из группы B, которые купили продукт
group_b[group_b['converted'] == True].shape

(420, 8)

### Расчет конверсии

In [ ]:
print('Конверсия общая:', df[df['converted'] == True].shape[0] / df.shape[0])
print('Конверсия группы А:', group_a[group_a['Purchased'] == 1].shape[0] / group_a.shape[0])
print('Конверсия группы Б:', group_b[group_b['Purchased'] == 1].shape[0] / group_b.shape[0])